
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Info {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.headline {
    display: flex;
    justify-content: left;
    margin-top: 80px;
    font-size: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
}

.Strudel_img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    display: block;
}

.info_img {
    width: 20px;
    display: flex;
    justify-content: center;
}

.info_icons {
    display: flex;
    margin-top: 20px;

}

.info_pill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #D3D3D3;
    border-radius: 8px;
    font-size: 15px;
    width: 115px;
    height: 40px;

    font-family: "Raleway", sans-serif;
}

.pill_icon {
    height: 25px;
    margin-right: 5px;

}

.HeadlineZubereitung {
    font-family: "Raleway", sans-serif;
    
    margin-top: 20px;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
}



.ZubereitungInfo {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.chip{
  margin-right: 10px;
}



.Zutaten {
  display: flex;
  flex-direction: column;
  
  text-indent: 0;
  margin-top: 24px;    
}


.portionen-rechner {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  margin: 30px 0 0 0;    
  padding-top: 8px;
  border-top: 1px solid #eee;
}


#zutaten {
  list-style: none;
  padding-left: 0;       
  margin: 8px 0 0 0;
}

#zutaten li {
  padding: 10px 10px 10px 16px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  margin-right: 8px;
}

#portionen{
  width: 50px;
  height: 33px;
  border-radius: 6px;
  margin-right: 8px;
  margin-left: 8px;
}
.menge{
  font-weight: bold;
  padding-right: 30px;
}


#portionen-btn {
  background-color: green;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}
.Antleitung{
   
  margin: 20px 0 0;
  text-align: justify;
  line-height: 1.65;
  color: #2b2b2b;
}
    

